django>=5.2.14,<6.0
djangorestframework
djangorestframework-gis
django-tinymce
django-environ
gunicorn==22.0.*
psycopg2-binary
pymemcache
requests
pyshp
django-helusers
social-auth-app-django
django-axes
pytz
sentry-sdk
freezegun
tzdata
