django==4.2.*
djangorestframework
djangorestframework-gis
django-ckeditor
django-environ
gunicorn==21.2.*
psycopg2==2.9.2
requests
pyshp
django-helusers==0.11.*
social-auth-app-django
django-axes
pytz
sentry-sdk
freezegun

